.line-indicator li {
  height: 4px;
  width: 70px;
  background: lightgray;
  position: relative;
  top: -50px;
}
.line-indicator li:nth-child(1) {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.line-indicator li:nth-child(2) {
  width: 90px;
}

.line-indicator li:nth-child(3) {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.line-indicator li:hover {
  background: gray;
}

.line-indicator li.slick-active {
  background: white;
}
